*
{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container
{
  border: none;
  height: 200px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  box-shadow: inset 0 0 30px black , inset 0 0 10px white , 0 0 10px 2px black;
  position: relative;
}
.fill-box
{
  display: grid;
  grid-template-areas: 
  'b1 b2 b3 b4 b5'
  'go go b b b';
  gap: 10px;
  place-content: center;
  
}
.fill-box .box
{
  aspect-ratio: 1;
  border: 2px solid;
  width: 45px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  transition: all .5s ease;
}
.fill-box .box:not(:focus){
  opacity: .5;
  box-shadow: inset 0 0 10px black,inset 1px 1px 10px blue;
}
.fill-box .box:focus
{
  background-color: black;
  color: white;
  transition: all .5s ease;
  transform: scale(1.1);
  opacity: 1;
}

#b1
{
  grid-area: b1;
}
#b2
{
  grid-area: b2;
}
#b3
{
  grid-area: b3;
}
#b4
{
  grid-area: b4;
}
#b5
{
  grid-area: b5;
}
#btn-confirm , #get-otp
{
  grid-area: b;
  
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all .1s ease;
}
#get-otp
{
  grid-area: go;
  background-color: red;
  color: black;
  font-weight: 600;
}
#btn-confirm:focus , #get-otp:focus
{
  background-color: black;
  color: white;
}
.opt-alert
{
  background-color: black;
  position: absolute;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  color: white;
  align-content: center;
  font-size: 1.3rem;
  transition: all .5s ease;
  animation-name: alert;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: .7s;
  font-family: sans-serif;
  z-index: -10;
  opacity: 0;
}
@keyframes alert
{
  0%{
    top: 50%;
  }
  100%{
    top: -70px;
  }
}

.show
{
  opacity: 1;
}